#content iframe{
    width:100%;
    align-self:end;
}
@media text{

}

@keyframes materialize {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes slide_from_left {
    0% {
        left: -25rem;
        opacity: 0;
    }
    100% {
        left: 0rem;
        opacity: 1;
    }
}
@keyframes slide_from_right {
    0% {
        right: -25rem;
        opacity: 0;
    }

    100% {
        right: 0rem;
        opacity: 1;
    }
}
#posizione {
    animation-name: materialize;
    animation-duration: 2s;
    animation-fill-mode: both;
}
#contatti {
    position: relative;
    animation-name: slide_from_left;
    animation-duration: 2s;
    animation-delay:2s;
    animation-fill-mode: both;
}
#social {
    position: relative;
    animation-name: slide_from_right;
    animation-duration: 2s;
    animation-delay:4s;
    animation-fill-mode: both;
}
footer {
    animation-name: materialize;
    animation-duration: 2s;
    animation-delay: 6s;
    animation-fill-mode: both;
}
@supports (display: grid) {
    #content {
        display: grid;
        grid-template-columns: 5% 45% 45% 5%;
        grid-row-gap: 4rem;
        margin-bottom: 4rem;
    }
    @media (min-width: 49rem) {
        #posizione {
            grid-column-start: 1;
            grid-column-end:5;
            grid-row: 1;
        }
        #contatti {
            grid-column: 3;
            grid-row: 2;
        }
        #social {
            grid-column: 2;
            grid-row: 3;
        }
    }
    @media (max-width: 49rem) {
        #content {
            display: grid;
            grid-template-columns: 3% 47% 47% 3%;
            grid-row-gap: 4rem;
            margin-bottom: 4rem;
        }
        #posizione {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row: 1;
        }

        #contatti {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row: 2;
        }

        #social {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row: 3;
        }
    }
    dl {
        display: grid;
        grid-column-gap:1rem;
        grid-row-gap:1rem;
    }
    dt {
        font-weight: bold;
        grid-column: 1;
    }
    dd {
        grid-column: 2;
    }
    
}
@supports not (display: grid) {
    body {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #content {
        display: flex;
        flex-direction: column;
    }
    dl {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    dt {
        flex-basis: 20%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    dd {
        flex-basis: 70%;
        flex-grow: 1;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    @media (min-width: 49rem) {
        @keyframes slide_from_left {
            0% {
                left: -25rem;
                opacity: 0;
            }

            100% {
                left: 50%;
                opacity: 1;
            }
        }
    }
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
