:root{
    --primary-color: #121212;
    --secondary-color: #b80000;
    --gradient-first-color: #282828;
    --gradient-last-color: #121212;
    --visited-links: #BBBBBB;
    --text-color: white;
    --error-color: #C2B800;
    --links-hover-color: #ffdd36;
}

*{
	padding: 0;
	margin: 0;
    color: var(--text-color);
}

html{
	font-size: 100%;
    font-family: "Arial", sans-serif;
	margin: auto;
	max-width: 1024px;
    background-color: var(--primary-color);
}

body{
	margin:0;
	padding:0;
	font-size:1.5rem;
	margin:auto;
}

.subtitle{
    padding-top: 1rem;
    padding-left: 1rem;
}

header h1 {
    padding: 1rem;
    font-size: 1.5rem;
}

.headerWrapper{
    background-image: linear-gradient(var(--gradient-first-color), var(--gradient-last-color));
}

nav ul {
    list-style-type: none;
}


@media (min-width: 52rem) {

    header, ul {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-self: flex-end;
    }

        header h1 {
            width: 15%;
        }

    nav {
        width: calc(85% - 2rem);
        position: relative;

    }
    #menubutton {
        display: none;
    }
}

@media (min-width: 36rem) and (max-width: 52rem) {
    header, ul {
        display: flex;
        flex-direction: column;
    }

    nav {
        position: absolute;
        left: calc(15% + 6rem);
        background-image: linear-gradient(var(--gradient-first-color), var(--gradient-last-color));
        z-index: 99;
        width: 16rem;
    }
    .openMenu {
        display:normal;
    }
    .closedMenu{
        display:none;
    }
    #menubutton {
        text-decoration: none;
    }
}

@media (max-width: 36rem) {
    header, ul {
        display: flex;
        flex-direction: column;
    }
    nav {
        width: 100%;
        position: relative;
    }
    .openMenu {
        display: normal;
    }

    .closedMenu {
        display: none;
    }
    #menubutton {
        display: block;
        text-decoration:none;
    }
}
/*ovverides per assenza di js visualizzani il menù come sempre aperto*/
.no-js nav {
    width: 100%;
    position: relative;
}
.no-js .closedMenu {
    display: normal;
}

nav li {
    float: left;
}

#login{
    float:right;
}

nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
}

a:visited:not(.carouselContainer a:visited){
    color: var(--visited-links);
}

@media (hover: hover) {
    a:hover:not(.carouselContainer a:hover){
        color: var(--links-hover-color);
    }
}

.breadcrumbs{
    margin: 1rem;
    font-size: 1.2rem;
}

.slide{
    list-style-type: none;
}

/*codice per css con javascript abilitato*/

.js .carouselContainer {
    position: relative;
}

.js .slide {
    display: none;
}

.js .slide img{
    width: 100%;
    height: auto;
}

.js .not-hidden{
    display: block;
}

.js .prev, .js .next {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 2rem - 0.9rem);
    padding: 1rem;
    font-weight: bold;
    user-select: none;
}

.js .prev{
    border-radius: 0 1rem 1rem 0;
    left: 0;
}

.js .next {
    right: 0;
    border-radius: 1rem 0 0 1rem;
}

@media (hover: hover) {
    .js .prev:hover, .js .next:hover{
        background-color: rgba(0,0,0,0.8); /*background nero con 0.8 di opacità (leggermente trasparente)*/
    }
}

.js .circles{
    text-align: center;
}

.js .circle {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  background-color: #ababab;
  border-radius: 50%;
  display: inline-block;
}

@media (hover: hover) {
    .js .circle:hover {
        background-color: #777777;
    }
}

.js .active{
    background-color: var(--secondary-color);
}

.js .active.circle:hover{ /*active E circle:hover deve risultare in rosso comunque*/
    background-color: var(--secondary-color);
}

/*codice per css con javascript disabilitato*/
.no-js ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.no-js .slide{
    width: calc(50% - 1rem);
    margin: 0.5rem;
}

.no-js .slide img{
    width: 100%;
    height: auto;
    display: block; /*se no viene trattata come inline e lascia un leggero spazio sul bottom*/
}

.no-js .not-hidden{
    display: block;
}

.no-js .prev, .no-js .next {
    display: none;
}

.no-js .circles{
    display: none;
}

.quickPurchaseContainer{
    background-image: linear-gradient(var(--gradient-first-color), var(--gradient-last-color));
    margin-top: 0.8rem;
}

.quickPurchaseContainer form{
    display: flex;
    margin-bottom: 1rem;
}

.quickPurchaseContainer form select, .quickPurchaseContainer form button{
    background: none; /*su firefox rimane lo sfondo grigio sulla freccia, si potrebbe eliminare con -moz-apparence: none e sostituire con un'immagine, ma non è così antiestetico da valutarne l'eliminazione*/
    font-size: 1.1rem;
    width: 25%;
    border: none;
    padding: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    outline: 0;
}

.quickPurchaseContainer form select{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

@media screen and (max-width: 880px) {
    .quickPurchaseContainer form{
        flex-direction: column;
    }

    .quickPurchaseContainer form select{
        width: calc(100% - 1.5rem);
        margin-right: 1rem; /*la freccia in giù del select è scritta sopra al padding dunque maggiore spazio a destra è richiesto per centrare tutto il select*/
    }

    .quickPurchaseContainer form button{
        width: calc(100% - 2rem);
    }
}

.quickPurchaseContainer form select option{
    background: var(--primary-color);
}

.quickPurchaseContainer form button{
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    margin-right: 1rem; /*margini diversi dal select perchè il border del button non è influenzato dal padding dunque risulta scentrato*/
    margin-left: 1rem;
    border-radius: 8px;
}

@media (hover: hover) {
    .quickPurchaseContainer form button:hover{
        background-color: var(--secondary-color);
    }
}

.cardsContainer{
    background-image: linear-gradient(var(--gradient-first-color), var(--gradient-last-color));
    margin-bottom: 1rem;
}

.cardsContainer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cardsContainer ul li {
    box-sizing: border-box; /*se no non conta il border e va a capo*/
    border: 2px solid;
    border-color: var(--secondary-color);
    border-radius: 1rem;
    margin: 1rem;
    flex: 0 1 calc(25% - 2rem);
    font-size: 1rem;
    overflow: hidden;
}

.cardsContainer ul li img{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 880px) {
    .cardsContainer ul li{
        flex: 0 1 calc(33.3% - 2rem);
    }
}


@media screen and (max-width: 700px) {
    .cardsContainer ul li{
        flex: 0 1 calc(50% - 2rem);
    }
}

@media screen and (max-width: 480px) {
    .cardsContainer ul li{
        flex: 0 1 calc(100% - 2rem);
    }
}

.error{
    padding-top: 1rem;
    padding-left: 1rem;
    color: var(--error-color);
}


.SRskip {/*per screen reader*/
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.SRskip:focus {
    position: static;
    width: auto;
    height: auto;
}


.cardContentText{
    padding: 1rem;
}

.cardContentSubtitle{
    font-style: italic;
    padding-top: 0.5rem;
}

.showMovieLink{
    margin-top: 1rem;
    display: inline-block;
}

footer{
    background-image: linear-gradient(var(--gradient-first-color), var(--gradient-last-color));/**/
    width: calc(100% - 2rem);
    padding: 1rem;
}


/*

programmazione.html
*/


.cardsContainer-prog {
	padding-top: 0.5rem;
	font-size: 1.3rem;
	margin-top: 0.5rem;
}
.card {
	display:flex;
	align-items: flex-start;
	border: 2px solid;
    border-color: var(--secondary-color);
    border-radius: 1rem;
    margin: 1rem;
	overflow: hidden;
}

.card dt {
	float: left;
	clear: left;
	font-style: italic;
}

.card dd:before {
	content: "\00a0";
}

.card img {
	margin: 1rem;
	width: 23%;
	height: 23%;
}

.card p {
	margin: 1rem 0rem;
}



.card form input[type=submit] {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  margin-right: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
}

@media (hover: hover) { /*da riunire tutte insieme le media query*/
	.card form input[type=submit]:hover {
		text-decoration: underline;
		background-color: var(--secondary-color);
	}
}


/*log/reg*/
.div_register{

	margin:auto;
	width: 70%;
	display:flex;
	justify-content:center;
	background-image: linear-gradient(var(--gradient-first-color), var(--gradient-last-color));
    padding-top:2.8rem;
	padding-bottom:2rem;
}

.div_user{
	margin:auto;
	width: 70%;
	display:flex;
	border: none;
	background-image: linear-gradient(#660000,var(--gradient-last-color));
	justify-content: center;
	 padding-top:1.5rem;
    padding-bottom:1.5rem;
	border-radius: 5px;

}

input[type=text],[type=password],[type=email]{
	width: 100%;
	height: 4vh;
	background: #e0dede;
	color:#000000;
	margin: 1rem auto;
	padding: 1rem;
	border: none;
	border-radius: 5px;
	font-size:0.9rem;

	    box-sizing: border-box;
}




input[type=submit]{
	width:70%;
	height:3rem;

	/*display: block;*/
	color: #fff;
	background: #660000;
	background-image: linear-gradient(#660000, var(--gradient-last-color));

	font-weight: bold;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	float:right;
}






.select_date {
    background: none;
    padding: 0.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
	margin-left: 0.5rem;
    border-radius: 8px;
	font-size: 1.0rem;

}

.select_date option{
    background: var(--primary-color);
}
.button_password_view{
	background: url('lol.png') no-repeat;
}
.button_one:hover{
	background: #b30000;
}


.col-25 {
  float:left;
  width: 25%;


}

.col-75 {
  float:left;
  width: 75%;

}
.row:after{

  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 700px) {
  input[type=submit]{
    width: 100%;

    margin-top: 0;
  }
}
@media screen and (max-width: 500px) {


	  .content.register,.div_user.register{
 width: 100%;

	  }
}
/*end*/

.contactpage iframe {
    width: 100%;
    align-self: end;
}

@media text {
}

@keyframes materialize {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide_from_left {
    0% {
        left: -25rem;
        opacity: 0;
    }

    100% {
        left: 0rem;
        opacity: 1;
    }
}

@keyframes slide_from_right {
    0% {
        right: 0rem;
        opacity: 0;
    }
	1% {
        right: -15rem;
        opacity: 0;
    }

    100% {
        right: 0rem;
        opacity: 1;
    }
}


#posizione {
    animation-name: materialize;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#contatti {
    position: relative;
    animation-name: materialize;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

#social {
    position: relative;
    animation-name: materialize;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: both;
}

/*footer {
    animation-name: materialize;
    animation-duration: 2s;
    animation-delay: 6s;
    animation-fill-mode: both;
}*/

/*@supports (display: grid) {
    .contactpage {
        display: grid;
        grid-template-columns: 5% 45% 45% 5%;
        grid-row-gap: 4rem;
        margin-bottom: 4rem;
    }

    @media (min-width: 49rem) {
        #posizione {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row: 1;
        }

        #contatti {
            grid-column: 3;
            grid-row: 2;
        }

        #social {
            grid-column: 2;
            grid-row: 3;
        }
    }

    @media (max-width: 49rem) {
        .contactpage {
            display: grid;
            grid-template-columns: 3% 47% 47% 3%;
            grid-row-gap: 4rem;
            margin-bottom: 4rem;
        }

        #posizione {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row: 1;
        }

        #contatti {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row: 2;
        }

        #social {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row: 3;
        }
    }

    #posizione dl, #contatti dl, #social dl {
        display: grid;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }

    #posizione dt, #contatti dt, #social dt {
        font-weight: bold;
        grid-column: 1;
    }

    #posizione dd, #contatti dd, #social dd {
        grid-column: 2;
    }
}*/

/*@supports not (display: grid) {*/
    body {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .contactpage {
        display: flex;
        flex-direction: column;
    }

    #posizione dl, #contatti dl, #social dl {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #posizione dt, #contatti dt, #social dt {
        flex-basis: 20%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    #posizione dd, #contatti dd, #social dd {
        flex-basis: 70%;
        flex-grow: 1;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    @media (min-width: 49rem) {
        #contatti {
            width: 50%;
            left: 50%;
            margin-left:0;
            margin-right:0;
            padding-left:0;
            padding-right:0;
        }
    }
/*}*/

#posizione h2, #contatti h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#social h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


/* scheda-film.html */

#filmPageTitle { text-align:center;}

#filmDataContainer {
	display:flex;
	align-items: flex-start;
	margin: 1rem;
	/*border: 2px solid var(--secondary-color);*/
	border-radius: 1rem;
	overflow:hidden;
	background-image: linear-gradient(var(--gradient-first-color), var(--gradient-last-color));/**/


}
#filmData {
	margin-left: 1rem;


	padding: 0.5rem;
	font-size: 1.2rem;



}

#filmData dt {
	float: left;
	clear: left;
	font-style: italic;
}

#filmData dl {
	margin-bottom:1rem;

	border-radius: 1rem;
}

#filmData dt:after {
	content: "\00a0";

}


#filmDataContainer img {
	max-width: 50%;

}


#filmData form {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

#filmData form input[type=submit] {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  margin-right: 0.5rem;
  margin-top: 0.4rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;

}

@media (hover: hover) { /*da riunire tutte insieme le media query*/
	#filmData form input[type=submit]:hover {
		text-decoration: underline;
		background-color: var(--secondary-color);
	}
}


@media screen and (max-width: 850px) {
	#filmDataContainer {
		flex-direction: column;
	}

	#filmDataContainer img {
		margin: auto;
		margin-bottom: 1rem;
	}
}


#filmData form fieldset {
	margin-top: 1.5rem;
	border: 0;
	border-top: 2px solid var(--secondary-color);
	/*border-left: 2px solid var(--secondary-color);*/
}

#filmData form legend {
	padding: 0.3rem;
	margin-left: 1rem;
}


@media print{
    
    body, #content {
        page-break-inside: auto;
    }
    body, #content * {
        page-break-inside: avoid;
    }
}