################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/repo/v16/.suo
/.vs/repo/config/applicationhost.config
/.vs
/repo.sln
/dashboard
/img
/xampp
/applications.html
/bitnami.css
/favicon.ico
.aux
.fdb_latexmk
.log
.fls
history.tex
style.tex
.out
.synctex.gz
